*{
    padding: 0px;
    margin: 0px;

}
.container{
    margin-top:-50px;


}
#main-header{
    color:grey;
    font-size: 70px;
    text-align: center;
    background-color: rgb(85, 10, 10);
    padding:50px;

}
h1{
    font-family: Arial, Helvetica, sans-serif;
    margin-top:30px;

}
.meals{
    line-height: 3em;
    background-color: lightblue;

}
.meals li{
    padding:10px;
    padding-right:65px;
    text-align: center;
    list-style-type: none;
    border-bottom: 0.5px solid;
    font-size: 40px;
   
}

.meals li:hover{
    color:white;
}


a{
    text-decoration: none;
    color:rgb(192, 159, 13);
}

a:hover{
    color:rgb(85, 10, 10);
    font-weight:bold;
}
.footer{
    border:0.5px solid;
    padding:0;
    
    
}
.leftimg{
    float:left;
    box-sizing:border-box;
    width:60%;
}

.rightimg{
    float:right;
    box-sizing:border-box;
    width:40%;
}